{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié — RoomBooking{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block body %}
<div class="login-page d-flex justify-content-center align-items-center">
    <div class="login-card">

        {# <h1 class="mb-3 text-center">RoomBooking</h1> #}
        <h1 class="mb-4 mt-3 text-center"> 🔑 Mot de passe oublié</h1>
        <p class="subtitle text-center">Saisissez votre email pour recevoir un lien de réinitialisation</p> 


        {# Flash messages #}
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type == 'error' ? 'danger' : 'success' }} mb-3">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}
     
            {# Email #}
            <div class="form-field">
                <div id="label-forgot-password" class="mb-1">
                    {{ form_label(form.email) }}
                </div>

                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <button type="submit" class="btn-login w-100 mt-3">
                Envoyer le lien
            </button>

        {{ form_end(form) }}
        

        <div class="text-center mt-4">
            <a href="{{ path('app_login') }}" class="lien-swtich-auth">← Retour à la connexion</a>
        </div>
    </div>
</div>

{% endblock %}